@import "theme.css";

* {
	all: initial; /* Reset GTK theme */
	color: #98F527;
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
@import "/home/kadze/.cache/wal/colors-waybar.css";

.module {
	margin-bottom: -1px;
}

#waybar {
	background-color: #5B64E1;
}
#waybar > box {
	margin: 4px;
	background-color: #64E15B;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: #FBB59B;
	color: #F5490A;
}

tooltip {
	border: 2px solid #247F9E;
	border-radius: 10px;
	background-color: #1E6B85;
}
tooltip > box {
	padding: 0 6px;
}
