/*---------------
    Indicator
---------------*/

#keyboard-state label,
#language {
	margin-right: 12px;
	color: @hover-fg;
}

/*-----------------
    Temperature
-----------------*/

#custom-left_div.2 {
	color: #972FD4;
}
#temperature {
	background-color: #510A7D;
}

/*------------
    Memory
------------*/

#custom-left_div.3 {
	background-color: #655ADB;
	color: #972FD4;
}
#memory {
	background-color: #510A7D;
}

/*---------
    CPU
---------*/

#custom-left_div.4 {
	background-color: #655ADB;
	color: #972FD4;
}
#cpu {
	background-color: #510A7D;
}
#custom-left_inv.1 {
	color: #972FD4;
}

/*-----------------
    Distro icon
-----------------*/

#custom-left_div.5,
#custom-right_div.2 {
	color: #DEA318;
}
#custom-distro {
	padding: 0 10px 0 5px;
	background-color:#655ADB;
	color: #14C8DB;
}

/*--------------------
    Idle inhibitor
--------------------*/

#custom-right_inv.1 {
	color: #972FD4;
}
#idle_inhibitor {
	background-color: #510A7D;
}

/*----------
    Time
----------*/

#clock.time {
	padding-right: 6px;
	background-color: #510A7D;
}
#custom-right_div.3 {
	background-color: #655ADB;
	color: #972FD4;
}

/*----------
    Date
----------*/

#clock.date {
	padding-left: 6px;
	background-color: #510A7D;
}
#custom-right_div.4 {
	background-color:#655ADB;
	color: #972FD4;
}

/*-----------------
    System tray
-----------------*/

#network {
	background-color: #510A7D;
	padding: 0 6px 0 4px;
}
#bluetooth {
	background-color: #510A7D;
	padding: 0 5px;
}
#custom-update {
	background-color: #510A7D;
	padding: 0 8px 0 2px;
}
#custom-right_div.5 {
	color: #972FD4;
}
