/*----------------
    Workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: #972FD4;
}
#workspaces {
	padding: 0 1px;
	background-color: #510A7D;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: #14C8DB;
}

/*------------------
    Window title
------------------*/

#window {
	margin: 0 12px;
}
