/*----------------
    Media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    Volume
------------*/

#custom-left_div.6 {
	color: #972FD4;
}
#pulseaudio,
#wireplumber {
	background-color: #510A7D;
}

/*----------------
    Brightness
----------------*/

#custom-left_div.7 {
	background-color: #655ADB;
	color: #972FD4;
}
#backlight {
	background-color: #510A7D;
}

/*-------------
    Battery
-------------*/

#custom-left_div.8 {
	background-color: #655ADB;
	color: #972FD4;
}
#battery {
	background-color: #510A7D;
}
#custom-left_inv.2 {
	color: #972FD4;
}

/*----------------
    Power menu
----------------*/

#custom-power {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: #510A7D;
}
#custom-power:hover {
	background-color: #055159;
}
